@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-between mb-4">
    <h1>My Contacts</h1>
        <a class="btn btn-primary p-1" role="button">
            <svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24" id="plus" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M12,20a1,1,0,0,1-1-1V13H5a1,1,0,0,1,0-2h6V5a1,1,0,0,1,2,0v6h6a1,1,0,0,1,0,2H13v6A1,1,0,0,1,12,20Z" style="fill: rgb(0, 0, 0);"></path></svg>
        </a>
    </div>


    <table class="table">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">E-mail</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>11 94583467</td>
            <td>maaark@gmail.com</td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary">Edit</a>
                    <a role="button" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>47 32763898</td>
            <td>jacobb@hotmail.com</td>
            <td>
                <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <a role="button" class="btn btn-primary">Edit</a>
                    <a role="button" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Dina</td>
            <td>27 97852937</td>
            <td>dina23@gmail.com</td>
            <td>
                <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <a role="button" class="btn btn-primary">Edit</a>
                    <a role="button" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
